 @import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');

@import "tailwindcss";

@theme {
    --color-NileBlue: #0077B6;
    --color-DesertSand	: #EDC9AF;
    --color-PharaohGold	: #D4AF37;
    --color-PyramidStone: #8B7D6B;
--font-Kapakana: "Kapakana", sans-serif;
}