 

 
@import "tailwindcss";

@theme {
    --color-NileBlue: #0077B6;
    --color-DesertSand	: #EDC9AF;
    --color-PharaohGold	: #D4AF37;
    --color-PyramidStone: #8B7D6B;
--font-kapakana: "Kapakana", cursive;
}