 @import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Changa:wght@200..800&family=Noto+Naskh+Arabic:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
 @import "tailwindcss";

 @theme {
     --color-NileBlue: #0077B6;
     --color-DesertSand: #EDC9AF;
     --color-PharaohGold: #D4AF37;
     --color-PyramidStone: #8B7D6B;
     --color-DesertSandx: #D8C3A5;
     --color-PharaohGoldx: #C19A6B;
     --font-Kapakana: "Kapakana", sans-serif;
     --font-Rubik: "Rubik", sans-serif;
     --font-Changa: "Changa", sans-serif;
     --font-third: "Noto Naskh Arabic", serif;
 }
